body {
	background:#f5deb3;
	font-family: arial;
	}
	
h1,h2, li {
	color: #555;
}	
a {
	color: #004e00;
}

p {
	backgound: #666;
	color: green;
	padding: 10px;
}

.secondary{
	background: white;
	color: #888;
}

#special{
	background: #dd8899;
	color: #555;
}